*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite ;
}
.container{
  border: 2px solid red;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* tengah */
.mid{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size: 64px;
}
span{
  color: #F4A104;
}
.atas{
  margin-top: 4px;
  font-size: 24px;
}
/* svg */
/* scroll to start */
.bwh{
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}
.scroll{
  font-size: smaller;
  font-style: italic ;
}

/* oksigen kanan*/
/* .oksigen{
  border: 1px solid green;
  position: absolute;
  width: 200%;
  height: 50px;
} */





@keyframes change {
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}