:root{
  --dark:#141414;
  --gray: #333333;
  --orange: #F4A104;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  color: var(--dark);
}
.container{
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* tengah */
.mid{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size: 64px;
}
span{
  color: var(--orange);
}
#a,#b,#c,#d,#e{
  color: var(--gray);
}
#a{  animation: a 5s ease-in-out infinite;}
#b{  animation: b 5s ease-in-out infinite;}
#c{  animation: c 5s ease-in-out infinite;}
#d{  animation: d 5s ease-in-out infinite;}
#e{  animation: e 5s ease-in-out infinite;}
.atas{
  margin-top: 4px;
  font-size: 24px;
}
/* svg */
/* scroll to start */
.bwh{
  width: 100%;
  text-align: center;
  margin-bottom: 36px;
}
.scroll{
  font-size: 24px;
  font-weight: bold;
  padding: 5px 25px 5px 25px;
  color: #fff;
  background: var(--orange);
  border:none;
  border-radius: 10px;
  box-shadow: 0 7px 0 #ce8600;
  cursor: pointer;
}
.scroll:active{
  outline: none;
  transform: translateY(7px);
  box-shadow: none;
}

#cover{
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 4px;
  display: none;
  position: absolute;
  color: var(--orange);
  top: 0;
  background: rgba(0, 0, 0, 0.699);
}
.path {
  stroke-dasharray: 160;
  animation: dash 4s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 320;
  }
}



@keyframes a {
  0%{
    color:var(--orange)
  }
}
@keyframes b {
  40%{
    color:var(--orange)
  }
}
@keyframes c {
  60%{
    color:var(--orange)
  }
}
@keyframes d {
  80%{
    color:var(--orange)
  }
}
@keyframes e {
  100%{
    color:var(--orange)
  }
}